.post {
  display: flex;
  padding: 15px;
  border: 2px solid teal;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
}

.h1 {
  text-align: center;
}
.post__btns {
  display: flex;
  flex-wrap: nowrap;
}
.post__btns button:last-child {
  margin-left: 5px;
}
.comment_row {
  margin-bottom: 10px;
}